@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&display=swap');
body {
    background-color: #ead3b4;
    font-family: Bree Serif ;
    margin: 0;
    padding: 0;
    display: flex;
    /* Ustalamy przewijanie w osi Y dla całej strony */
}
    
  
  #calosc {
    margin: 2% 2% ;
    display: flex;
    
    flex-direction: row; /* Ustawiamy układ w kolumnie */
     /* Rozciągamy #calosc, aby wypełnił dostępną przestrzeń */
    
    
}
  
  #czesc1 {
    width: 46vw;
    color: #503723;
    margin-right: 2vw;
    flex-direction: row;
    font-size: 1rem;
    text-align: center;
    min-height: 96vh; /* Ustalamy minimalną wysokość dla #czesc1 */
  }
  #czesc2 {
    width: 46vw;
    color: #503723;
    flex: 1;
    margin-top: 1vh;
    margin-left: 2vw;
    font-size: 1rem;
    text-align: center;
    min-height: 96vh; /* Ustalamy minimalną wysokość dla #czesc2 */
  }
#header{
    font-size: 5rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-stretch: ultra-expanded;
    white-space: nowrap;
    display:flex;
    font-family: Alfa Slab One;
    align-items: center;
    justify-content: center;
    word-spacing: 0.5rem;
    height: 10vh;
    width: 46vw;
}
.data-baner-left{
    height: 2.5vh;
    float: left;
    width:25%;
    
    text-align: left;
}
.data-baner-mid{
    height: 2.5vh;
    float: left;
    width:50%;
    text-align: center;
}
.data-baner-right{
    height: 2.5vh;
    float: left;
    width:25%;
    text-align: right;
}
.linia{
    border-top: 0.2rem solid #503723;
    clear: both;
    width: 46vw;
    font-weight:lighter;
    
}
.data_baner{
height: 2.5vh;
margin-top:2vh;
display: inline-block;

align-items:flex-start;
}
#duzy-napis{
    clear: both;
    width:100%;
    
    margin-top: -2vh;
    font-size: 6.2rem;
    height: 7vh;
    white-space: nowrap;
    margin-bottom: 8%;
}
#srodek-lewo{
width:50%;
height: 62%;
float: left;
clear: both;
}
#srodek-prawo{
width:50%;
height: 62%;
float: left;
}
#zdjecie1{

height: 74%;
width: 100%;
background-image: url(przybory-kuchenne.png);
background-size: 97% 98%;
display: flex;
align-items: flex-end;
background-position: top right;
background-repeat: no-repeat;
clear: both;
}
#pod_duzym_obrazkiem{
    width: 97.3%;
    height: 18%;
    margin-top:-0.3rem;
    text-align: justify;
    font-size:1.1rem ;
    display: flex;
    line-height: 1.2rem;
    margin-left:0.75rem;
}

#world{
    margin-top: -12%;
    display: flex;
    text-align: left;
    width:70%;
    font-size: 6.2rem;
    white-space: nowrap;
}
.china{
    text-align: left;
    clear: both;
    width:80%;
    margin-top: 1rem;
    line-height: 2.6rem;
    font-stretch: narrower;
    font-size: 2.87rem;
    display: flex;
}
.the{
    font-size: 1.38rem;
}
#elephant{
    margin-top:1.55rem;
    clear: both;
    width:80%;
    white-space: nowrap;
    text-align: left;
    display:flex;
}
#linia_mała{
    width:65%;
    height: 0.2rem;
    margin-top: 1.37rem;
    border-top: solid 0.2rem #503723;
    margin-left: 2.65rem;
    
}
.tekst_linia1{
    width: 33%;
    float: left;
    height: 55%;
}
.tekst_linia2{
    width: 35%;
    float: left;
    height: 60%;
}
.tekst_linia3{
    width: 32%;
    float: left;
    height: 55%;
}
#duza_litera{
    width:58%;
    height:20%;
    float: left;
    display:flex;
    
    align-items: center;
    font-size: 6.2rem;
    clear: both;
}
#told{
    margin-top: 0.3rem;
    width: 42%;
    height:20%;
    float: left;
    margin-left: -0.75rem;
    font-size:0.8rem ;
    display: flex;
    text-align: justify;
    align-items: center;
    line-height: 0.9rem;
}
#pierwsza_linia1{
    width: 91%;
    height:28%;
    margin-top: 0.3rem;
    display: flex;
    text-align: justify;
    align-items: center;
    font-size:0.8rem ;
    line-height: 0.9rem;
    clear: both;

}
#pierwsza_linia2{
    margin-top: -1rem;
    width: 91%;
    height:48%;
    display: flex;
    text-align: justify;
    align-items: center;
    font-size:0.8rem ;
    line-height: 0.9rem;

}
#druga_linia1{
    width: 85%;
    height:37%;
    float: left;
    margin-top: 0.55rem;
    font-size:0.8rem ;
    display: flex;
    text-align: justify;
    line-height: 0.9rem;
    clear: both;
}
#druga_linia2{
    margin-top: -0.8rem;
    width: 85%;
    height:53%;
    float: left;
    font-size:0.8rem ;
    display: flex;
    text-align: justify;
    line-height: 0.9rem;
}
#trzecia_linia1{
    width: 90%;
    margin-top: 0.55rem;
    height:64%;
    float: left;
    margin-left: -0.65rem;;
    font-size:0.8rem ;
    display: flex;
    text-align: justify;
    line-height: 0.9rem;
    clear: both;
}
#trzecia_linia2{
    width: 84%;
    margin-top: -0.1rem;
    height:15%;
    float: left;
    margin-left: -0.65rem;;
    font-size:0.8rem ;
    display: flex;
    text-align: justify;
    line-height: 0.9rem;
    clear: both;

}
#ipsum{
    width: 83.5%;
    height: 7%;

    display: flex;
    font-size:1.38rem;
    text-align: right;
    justify-content: flex-end;
}
#baner_dół1{
    margin-top: -12%;
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 2%;
    clear: both;
    border: 0.2rem solid #503723 ;
}
#lewa-czesc{
width:35% ;
height: 100%;
display: flex;
border-right: 0.2rem solid #503723;
box-sizing: border-box;
float: left;
flex-direction: column;
}
#prawa-czesc{
height: 100%;
width:65% ;
float: left;
display: flex;
flex-direction: column;
}
#prawa-czesc1{
    display: flex;
    height: 29.5%;
    width: 100%;
    flex-direction: column;
    order: 1;
}
#prawa-czesc2{
height: 70.5%;
width: 100%;
display: flex;
order: 2;
}
#prawa-czesc-gora{
    height: 42%;
    width: 100%;
    justify-content: center;
    padding-bottom:2% ;
    display: flex;
    align-items: flex-end;
    color: #ead3b4;
    background-color: #503723;
    font-size: 2.7rem;
    white-space: nowrap;
    letter-spacing: 0.15rem;

}
#lewa-czesc-gora{
    height: 18%;
    padding-top:3%;
    width: 100%;
    display: flex;
    padding-left: 7.5%;
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;

    
}
#lewa-czesc-srodek{
    height: 13%;
    padding-left: 7.5%;
    width: 87.5%;
    padding-right: 5%;
    line-height: 0.9rem;
    font-size:0.8rem ;
    text-align: justify;

}
#lewa-czesc-dol{
    height: 63%;
    padding-left: 7.5%;
    width: 87.5%;
    padding-right: 5%;
    padding-bottom: 3%;
    display:inline-flex;
    background-repeat: no-repeat;
    background-size: 88% 97%;
    background-position:center;
    background-image: url(szklo.png);
}
#prawa-czesc-srodek{
    height: 55%;
    width: 95%;
    padding-top: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size:1.3rem;
    text-align:justify;
}

#dol-lewo{
    width: 20%;
    height: 100%;
    line-height: 0.9rem;
    font-size:0.8rem ;
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: left;
    text-align: justify;
}
#dol-srodek{
    height: 100%;
    width: 20%;
    padding-right: 2.5%;
    line-height: 0.9rem;
    font-size:0.8rem ;
    float: left;
    text-align: justify;

}
#dol-prawo{
    width: 60%;
    height: 100%;
    padding-left: 1.5%;
    padding-right: 2.5%;
    float: left;
}
#dol-prawo-gora{
    
    padding-bottom: 2%;
    height: 14%;
    text-align: justify;
    width: 100%;
    clear: both;
    font-size: 0.8rem;
    line-height: 0.9rem;
}
#dol-prawo-dol{
    height: 80%;
    width: 100%;
    background-image: url("owocki.png");
  background-size: 100% 93%; 
  background-repeat: no-repeat;
  clear: both;
  background-position: top;
  
}