@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
    background-color: #ead3b4;
    font-family: Bree Serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-y: auto; /* Ustalamy przewijanie w osi Y dla całej strony */
}
    
  
  #calosc {
    margin: 2vh 2vw;
    display: flex;
    overflow-x: hidden;
    flex-direction: row; /* Ustawiamy układ w kolumnie */
    flex: 1; /* Rozciągamy #calosc, aby wypełnił dostępną przestrzeń */
    overflow-y: auto; /* Ustalamy przewijanie w osi Y dla #calosc */
    overflow-x: hidden;
}
  
  #czesc1 {
    width: 46vw;
    color: #503723;
    margin-right: 2vw;
    flex-direction: row;
    font-size: 1rem;
    text-align: center;
    min-height: 96vh; /* Ustalamy minimalną wysokość dla #czesc1 */
  }
  #czesc2 {
    width: 46vw;
    color: #503723;
    flex: 1;
    margin-left: 2vw;
    font-size: 1rem;
    text-align: center;
    min-height: 96vh; /* Ustalamy minimalną wysokość dla #czesc2 */
  }
#header{
    font-size: 6.5rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    white-space: nowrap;
    display:flex;
    align-items: center;
    justify-content: center;
    word-spacing: 0.5rem;
    height: 10vh;
    width: 46vw;
}
.data-baner-left{
    height: 2.5vh;
    float: left;
    width:25%;
    
    text-align: left;
}
.data-baner-mid{
    height: 2.5vh;
    float: left;
    width:50%;
    text-align: center;
}
.data-baner-right{
    height: 2.5vh;
    float: left;
    width:25%;
    text-align: right;
}
.linia{
    border-top: 0.2rem solid #503723;
    clear: both;
    width: 46vw;
    
}
.data_baner{
height: 2.5vh;
margin-top:2vh;
display: inline-block;

align-items:flex-start;
}
#duzy-napis{
    clear: both;
    width:100%;
    margin-top: -2vh;
    font-size: 6.2rem;
    height: 7vh;
    white-space: nowrap;
}
#srodek-lewo{
width:50%;
height: 45vh;
float: left;
}
#srodek-prawo{
width:50%;
height: 45vh;
float: left;
}
#zdjecie1{

    height: 85%;
width: 100%;
background-image: url(przybory-kuchenne.png);
background-size: 100% 100%;
background-position: center;
background-repeat: no-repeat;
}


#napis_pod_zdjeciem{
height: 15%;
width: 100%;
}