@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Rock+Salt&display=swap');
body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction:column;
    font-family:'Are You Serious';
    font-size:40px;
    color:white;
    background-image: url(tło.jpg);
}

#gameboard{
    width:600px;
    height:600px;
    background-color:black;
    display: flex;
    flex-wrap:wrap;
    border:solid 4px black;
}

.square{
    width:200px;
    height:200px;
    background-color: white;
    border:solid 4px black;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.koło{
    height:180px;
    width:180px;
    border-radius:50%;
    border: 30px solid blue;
    box-sizing:border-box;
}
.krzyżyk{
    height:180px;
    width:180px;
    position:relative;
    transform: rotate(45deg);
    
}
.krzyżyk::before, .krzyżyk::after{
    content: "";
    position:absolute;
    background-color: red;
    
}
.krzyżyk::before{
    left:50%;
    width:30%;
    margin-left: -15%;
    height:100%;
}
.krzyżyk::after{
    top:50%;
    height:30%;
    margin-top: -15%;
    width:100%;
}
img{
    width:50px;
    height:50px;
    background-color: black;
}
button{
    background-color: black;
}
